<h1>Room to wrist lock
</h1>

<h5>
  Logged in as: 
  <%= current_user.email  %>
</h5>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div>
        <%= render 'form', room: Room.new%>
      </div>
      <div class='mt-3'>
     <% @rooms.each do |room| %>
          <div class="card" >
          <div class="card-body" > 
            
            <%= link_to room.name , room, class: 'room' %>

          </div>
        </div>
    <% end %>
      </div>
    </div>
  </div>
</div>